.wrapper {
    color: #097731;
    font-weight: 600;
    padding: 4rem var(--main-padding);
    background-image: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.newsletterWrapper {
    display: flex;
    flex-wrap: nowrap;
}

.newsletterWrapper input {
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background: none;
}

.newsletterWrapper ::placeholder {
    color: #129643;
    font-weight: 300;
}

.newsletterWrapper button {
    cursor: pointer;
    background: white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    color: var(--green-1);
    border: 1px solid white;
}

.newsletterWrapper input:focus {
    outline: none;
}

.wrapper .social {
    display: flex;
    gap: 5rem;
}

.social svg {
    width: 2rem;
    fill: #129643;
}

.social svg:hover {
    fill: #eee;
}

.legal {
    color: #129643;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
    letter-spacing: 0.2rem;
}

.legal svg {
    fill: currentColor;
    width: 2rem;
}