.heroSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 96px);
}

.heroSection a {
    text-decoration: underline;
}

.heroSection img {
    max-width: 100%;
}

@media (min-width: 600px) {
    .heroSection {
        flex-direction: row;
        justify-content: space-between;
        min-height: calc(100vh - 104px);
    }
}

.heroBtn {
    display: block;
    color: white;
    font-weight: 600;
    background-image: var(--gradient);
    border: none;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.heroBtn:hover {
    box-shadow: 2px 2px 10px var(--green-2);
}

.sectionTitle {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    margin: 2rem 0;
}
@media (min-width: 600px) {
    .sectionTitle {
        line-height: 5rem;
    }
}
.sectionTitle > span {
    color: transparent;
    background-clip: text;
    background-image: var(--gradient);
}

.sectionP {
    font-weight: 600;
    font-size: 1.2rem;
}

/* Pricing */

.pricing {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .pricing div:nth-of-type(1) {
    border: 2px solid red;
    transform: scale(1);
} */

@media (min-width: 600px) {
    .pricing {
        margin: 8rem 0;
        flex-direction: row;
    }
}